<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <listener>
  	<listener-class>com.atguigu.listener.ApplicationListenerDemo</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserServletFilter</display-name>
    <filter-name>UserServletFilter</filter-name>
    <filter-class>com.atguigu.filter.UserServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserServletFilter</filter-name>
    <servlet-name>UserServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>HelloWorldFilter</filter-name>
    <filter-class>com.atguigu.filter.HelloWorldFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HelloWorldFilter</filter-name>
    <url-pattern>/UserServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>HttpFilterTestFilter</display-name>
    <filter-name>HttpFilterTestFilter</filter-name>
    <filter-class>com.atguigu.filter.HttpFilterTestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpFilterTestFilter</filter-name>
    <url-pattern>/HttpFilterTestFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>HttpFilterTestFilter</display-name>
    <servlet-name>HttpFilterTestFilter</servlet-name>
    <servlet-class>com.atguigu.servlet.HttpFilterTestFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpFilterTestFilter</servlet-name>
    <url-pattern>/HttpFilterTestFilter</url-pattern>
  </servlet-mapping>
</web-app>